<div id="method">
  
  <%
    splitted = @method
    str = @method
    str = "<span id='http_verb'>#{str}</span>"
  %>
  <p class='description'><strong>Description:</strong> <%=@content %></p>

  <h2><%=str %><%=@url %></h2>
  
  <% if @access %>
    <strong>Access:</strong> <%=@access %><br />
  <% end %>

  <% if @return %>
    <strong>Return:</strong>
    <%=@return %>
    <br />
  <% end %>

  <% if @variables %>  
    <strong>Parameters:</strong>
    <ul>
      <% @variables.each do |v| %><li><%=v %></li><% end %>
    </ul>
  <% end %>

  <% if @output %>
      <strong>Output:</strong>
      <div class="code">
        <%= @output %>
      </div>
      <br />
  <% end %>

  <% unless @request.blank? %>
    <strong>Request:</strong>
    <pre class="code"><code><%= @request %></code></pre>
  <% end %>

  <% unless @response.blank? %>  
    <strong>Response:</strong>
    <pre class="code"><code><%= @response %></code></pre>
  <% end %>

</div>
