<div class="resource_methods">
  <a id='<%= "#{@resource_name}_method_#{@method_order}" %>'></a>
  <p><strong>Description:</strong> <%=@content %></p>

  <h2><%=@url %></h2>
  
  <% if @access %>
    <strong>Access:</strong> <%=@access %><br />
  <% end %>

  <% if @return %>
    <strong>Return:</strong>
    <%=@return %>
    <br />
  <% end %>

  <% if @params %>
    <strong>Parameters:</strong>
    <ul>
      <% @params.each do |v| %><li><%=v %></li><% end %>
    </ul>
  <% end %>

  <% unless @outputs.empty? %>
    <ul class="output_format">
      <% @outputs.each do |output_format, output| %>
        <li class="<%= output_format %>"><a href='#<%= "#{@resource_name}_#{output_format}_#{@method_order}" %>'><%= output_format %></a></li>
      <% end %>
    </ul>
    <div class="output">
      <% @outputs.each do |output_format, output| %>
        <div class="<%= output_format %>">
          <a id='<%= "#{@resource_name}_#{output_format}_#{@method_order}" %>'></a>
          <pre class="prettyprint" ><%= output %></pre>
        </div>
      <% end %>
    </div>
    <br />
  <% end %>

  <% unless @request.blank? %>
    <strong>Request:</strong>
    <pre class="code"><code><%= @request %></code></pre>
  <% end %>

  <% unless @response.blank? %>  
    <strong>Response:</strong>
    <pre class="code"><code><%= @response %></code></pre>
  <% end %>

</div>
