<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= @name || 'Home' %></title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <base id="base_target" target="main"></base>
  </head>
  <body>
    <script type="text/javascript" charset="utf-8">
      $(function () {
        $('input#search').keyup(function(event) {
          if ( event.keyCode == 13 ) {
            event.preventDefault();
          } else {
            var search_txt = $(this).val();
            var search_regex = new RegExp(search_txt, 'g'); 
            $("ul li").each ( function() {
              var h_elem = $(this).find('a')[0];
              var link_txt = h_elem.text;
              var match = link_txt.match(search_regex);
              if (match) {
                $(this).show();
              } else {
                $(this).hide();
              }
            });
          }
        });
      });
    </script>
    <form onsubmit="return false;">
      <input type='text' id="search" />
    </form>
    <div class="content">
      <h2>Resources</h2>
      <div id="resources_<%=@page_type2%>">
        <ul>
        <% @resources.each do |r| %>
          <li>
            Resource:  <a href="/apidoc/<%=r.name %>.html"><%=r.resource_location %></a>
            <% if r.function_blocks.any? %>
              <ul>
                <% r.function_blocks.each do |method_block| %>
                  <li><a href="/apidoc/<%=r.name %>.html#method_<%=method_block.method_order%>"><%= "#{method_block.method} #{method_block.url}" %></a></li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    
    </div>
  </body>
</html>
