<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="styles.css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script type="text/javascript" src="scripts.js"></script>
    <title>apidoc</title>
  </head>
  <body>
    <div id="resource_index">
      <form onsubmit="return false;">
        <input type='text'/>
        <img src="Search.png" alt="search">
      </form>
      <h2>Resources</h2>
      <ul id="resource_index">
        <% resource_docs.each do |resource| %>
          <li>
            <a href="#<%=resource.name %>"><%=resource.name %></a>
            <% if resource.function_blocks.any? %>
              <ul>
                <% resource.function_blocks.each do |method_block| %>
                  <li>
                    <a href="#<%=resource.name%>_method_<%=method_block.method_order%>" >
                    <%= "#{method_block.method} #{method_block.url}" %></a>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
          <% end %>
      </ul>
    </div>
    <div id="resources">
      <ul>
        <li><strong>Show XML</strong><a href="#" onclick="$('.xml').toggle();"> toggle </a></li>
        <li><strong>Show JSON</strong><a href="#" onclick="$('.json').toggle();"> toggle </a></li>
      </ul>
      <% resource_docs.each do |resource| %>
        <a id='<%= "#{resource.name}" %>'></a>
        <div class="resource">
          <% if resource.resource_header %>
            <%=resource.resource_header %>
          <% end %>
          <% if resource.resource_methods %>
            <% resource.resource_methods.each do |method| %>
              <%=method %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </body>
</html>
